@model ASPNetCoreTest3.Models.Album

@{
    ViewData["Title"] = "Подробности альбома";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Альбом</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Фотографии
        </dt>
        <dd>
            <div id="photos">
                @{int v = 0;}
                @foreach (AlbumPhotos albumPhoto in @ViewBag.AlbumPhotos)
                {
                <div class="photoItem" style="display:inline-block; margin: 0px 10px;">
                    <h5 class="fotoLabel">Фото №@(++v)</h5>
                    <p>Название: @albumPhoto.Photo.Name</p>
                    <img src="@albumPhoto.Photo.LowSource" width="150">
                </div>
                }
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
