@model ASPNetCoreTest3.Models.Album

@{
    ViewData["Title"] = "Изменение альбома";
}

<h2>@ViewData["Title"]</h2>

<h4>Альбом</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Фотографии</label><br>
                <div id="photos">
                    @{int v = 0;}
                    @foreach (AlbumPhotos albumPhoto in @ViewBag.AlbumPhotos)
                    {
                        <div class="photoItem" style="display:inline-block; margin: 0px 10px;">
                            <h5 class="fotoLabel">Фото №@(++v)</h5>
                            <label>Название</label>
                            <select asp-items="@(new SelectList(ViewBag.PhotosList,"Id","Name", albumPhoto.Photo.Id))" 
                                size="1" class="photoSelect" name="@($"Photos[{v-1}]")"></select><br>
                            <img src="@albumPhoto.Photo.LowSource" width="150">
                        </div>
                    }
                </div>
                <p>
                    <a class="addPhoto" style="cursor:pointer">Добавить фото</a>
                    <a class="removePhoto" style="cursor:pointer">Удалить фото</a>
                </p>
                <div hidden="hidden">
                    <div id="photoItem" class="photoItem" style="display:inline-block; margin: 0px 10px;">
                        <h5 class="fotoLabel">Фото №0</h5>
                        <label>Название</label>
                        <select asp-items="@(new SelectList(ViewBag.PhotosList,"Id","Name"))" size="1" class="photoSelect"></select><br>
                        <img width="150">
                    </div>
                    <select id="photoSelectSource" asp-items="@(new SelectList(ViewBag.PhotosList,"Id","LowSource"))" size="1"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/AlbumPhotos.js"></script>
}
